.fileselect, .replaytext {
  color: white;
}

.filterSelect, .searchType {
  outline: none;
  cursor: pointer;
  min-width: 12rem;
}

.title {
  color: white;
  height: 1rem;
  margin-right: 0.2rem;
  // background-color: green;
}

.replaylist {
  // background-color: lightblue;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.replay {
  list-style-type: none;
  // background-color: green;
}

.winnerselected {
  background-color: green;
  border: 1px solid white;
}

.winnerunselected {
  background-color: rgb(0, 197, 0);
  border: 1px solid white;
}

.loserselected {
  background-color: rgb(255, 32, 69);
  border: 1px solid white;
}

.loserunselected {
  background-color: pink;
  border: 1px solid white;
}