<div>
  <div id="showdown-viewer"></div>
  <input class="fileselect" type='file' webkitdirectory='' directory='' accept='.html' (change)="fileChanged($event)" multiple><br /><br />
  <div *ngIf="replays.length > 0">
    <select class="searchType" (change)="selectSearchType($event)">
      <option value="ledWith">Search Battles Led With</option>
      <option value="foughtWith">Search Battles Fought With</option>
    </select>
    <div *ngIf="this.searchType === 'ledWith'">
      <!-- <span class="title">Battles Led With:</span><br /> -->
      <app-search class="filterSearch" (filterReplays)="filterPokemonLed($event)"></app-search><br />
      <!-- <select class="filterSelect">
        <option>All Pokemon</option>
        <option *ngFor="let ledPokemon of ledPokemonList">{{ ledPokemon }}</option>
      </select> -->
      </div>
    <div *ngIf="this.searchType === 'foughtWith'">
      <!-- <span class="title">Battles Fought With:</span><br /> -->
      <app-search class="filterSearch" (filterReplays)="filterPokemonBrought($event)"></app-search><br />
      <!-- <select class="filterSelect">
        <option>All Pokemon</option>
        <option *ngFor="let pokemonBrought of uniquePokemon">{{ pokemonBrought }}</option>
      </select> -->
    </div>
    <br />
    <a class="viewStats" (click)="viewPokemonStats()">Replay Stats <span *ngIf="viewStats === false" class="darrow">&#8964;</span><span *ngIf="viewStats === true" class="uarrow">&#8963;</span></a>
    <div *ngIf="viewStats === true">
      <app-chart [sortedPokemon]="sortedPokemon"></app-chart>
    </div>
  </div>
  <br />
  <ul class="replaylist">
    <li *ngFor="let replay of filteredReplays; let index = index" class="replay">
      <span class="replaytext">Player 1: {{ replay.player1 }} <br /> Rating: {{ replay.player1rating }}</span> <br />
      <img
        height="40px"
        width="40px"
        [ngClass]="getPokemonBackground(replay,
        replay.player1pokemon1, replay.player1lead1, replay.player1lead2,
        '', replay.player2lead1, replay.player2lead2)"
        src="../../assets/sprites/{{ replay.player1pokemon1 }}.png"
      >
      <img
        height="40px"
        width="40px"
        [ngClass]="getPokemonBackground(replay,
        replay.player1pokemon2, replay.player1lead1, replay.player1lead2,
        '', replay.player2lead1, replay.player2lead2)"
        src="../../assets/sprites/{{ replay.player1pokemon2 }}.png"
      >
      <img
        height="40px"
        width="40px"
        [ngClass]="getPokemonBackground(replay,
        replay.player1pokemon3, replay.player1lead1, replay.player1lead2,
        '',replay.player2lead1, replay.player2lead2)"
        src="../../assets/sprites/{{ replay.player1pokemon3 }}.png"
      >
      <img
        height="40px"
        width="40px"
        [ngClass]="getPokemonBackground(replay,
        replay.player1pokemon4, replay.player1lead1, replay.player1lead2,
        '', replay.player2lead1, replay.player2lead2)"
        src="../../assets/sprites/{{ replay.player1pokemon4 }}.png"
      >
      <img
        height="40px"
        width="40px"
        [ngClass]="getPokemonBackground(replay,
        replay.player1pokemon5, replay.player1lead1, replay.player1lead2,
        '', replay.player2lead1, replay.player2lead2)"
        src="../../assets/sprites/{{ replay.player1pokemon5 }}.png"
      >
      <img
        height="40px"
        width="40px"
        [ngClass]="getPokemonBackground(replay,
        replay.player1pokemon6, replay.player1lead1, replay.player1lead2,
        '', replay.player2lead1, replay.player2lead2)"
        src="../../assets/sprites/{{ replay.player1pokemon6 }}.png"
      >
      <br />
      <img
        height="40px"
        width="40px"
        [ngClass]="getPokemonBackground(replay,
        '', replay.player1lead1, replay.player1lead2,
        replay.player2pokemon1, replay.player2lead1, replay.player2lead2)"
        src="../../assets/sprites/{{ replay.player2pokemon1 }}.png"
      >
      <img
        height="40px"
        width="40px"
        [ngClass]="getPokemonBackground(replay,
        '', replay.player1lead1, replay.player1lead2,
        replay.player2pokemon2, replay.player2lead1, replay.player2lead2)"
        src="../../assets/sprites/{{ replay.player2pokemon2 }}.png"
      >
      <img
        height="40px"
        width="40px"
        [ngClass]="getPokemonBackground(replay,
        '', replay.player1lead1, replay.player1lead2,
        replay.player2pokemon3, replay.player2lead1, replay.player2lead2)"
        src="../../assets/sprites/{{ replay.player2pokemon3 }}.png"
      >
      <img
        height="40px"
        width="40px"
        [ngClass]="getPokemonBackground(replay,
        '', replay.player1lead1, replay.player1lead2,
        replay.player2pokemon4, replay.player2lead1, replay.player2lead2)"
        src="../../assets/sprites/{{ replay.player2pokemon4 }}.png"
      >
      <img
        height="40px"
        width="40px"
        [ngClass]="getPokemonBackground(replay,
        '', replay.player1lead1, replay.player1lead2,
        replay.player2pokemon5, replay.player2lead1, replay.player2lead2)"
        src="../../assets/sprites/{{ replay.player2pokemon5 }}.png"
      >
      <img
        height="40px"
        width="40px"
        [ngClass]="getPokemonBackground(replay,
        '', replay.player1lead1, replay.player1lead2,
        replay.player2pokemon6, replay.player2lead1, replay.player2lead2)"
        src="../../assets/sprites/{{ replay.player2pokemon6 }}.png"
      ><br />
      <span class="replaytext">Player 2: {{ replay.player2 }} <br /> Rating: {{replay.player2rating }}</span> <br /><br />
    </li>
  </ul>
</div>
