<div>
  <div id="showdown-viewer"></div>
  <input class="fileselect" type='file' webkitdirectory='' directory='' (change)="fileChanged($event)" multiple><br /><br />
  <app-search></app-search>
  <pre id="fileContent"></pre>

  <ul class="replaylist">
    <li *ngFor="let replay of replays; let index = index" class="replay">
      <span class="replaytext">Player1: {{ replay.player1 }} {{ replay.player1rating }}</span> <br />
      <span class="replaytext">Player2: {{ replay.player2 }} {{replay.player2rating }}</span> <br />
      <span class="replaytext">winner: {{ replay.winner }}</span> <br /><br />
      <!-- <div id="scroll" [innerHTML]="displayHtml"></div> -->
      <!-- <a href="file:///C://Users//allis//showdown/Gen9VGC2023RegulationE-2023-11-13-yournottony-replaydownloadtest.html">C://Users//allis//showdown/Gen9VGC2023RegulationE-2023-11-13-yournottony-replaydownloadtest.html</a><br /> -->
      <img
        height="40px"
        width="40px"
        [ngClass]="getPokemonBackground(replay,
        replay.player1pokemon1, replay.player1lead1, replay.player1lead2,
        '', replay.player2lead1, replay.player2lead2)"
        src="../../assets/sprites/{{ replay.player1pokemon1 }}.png"
      >
      <img
        height="40px"
        width="40px"
        [ngClass]="getPokemonBackground(replay,
        replay.player1pokemon2, replay.player1lead1, replay.player1lead2,
        '', replay.player2lead1, replay.player2lead2)"
        src="../../assets/sprites/{{ replay.player1pokemon2 }}.png"
      >
      <img
        height="40px"
        width="40px"
        [ngClass]="getPokemonBackground(replay,
        replay.player1pokemon3, replay.player1lead1, replay.player1lead2,
        '',replay.player2lead1, replay.player2lead2)"
        src="../../assets/sprites/{{ replay.player1pokemon3 }}.png"
      >
      <img
        height="40px"
        width="40px"
        [ngClass]="getPokemonBackground(replay,
        replay.player1pokemon4, replay.player1lead1, replay.player1lead2,
        '', replay.player2lead1, replay.player2lead2)"
        src="../../assets/sprites/{{ replay.player1pokemon4 }}.png"
      >
      <img
        height="40px"
        width="40px"
        [ngClass]="getPokemonBackground(replay,
        replay.player1pokemon5, replay.player1lead1, replay.player1lead2,
        '', replay.player2lead1, replay.player2lead2)"
        src="../../assets/sprites/{{ replay.player1pokemon5 }}.png"
      >
      <img
        height="40px"
        width="40px"
        [ngClass]="getPokemonBackground(replay,
        replay.player1pokemon6, replay.player1lead1, replay.player1lead2,
        '', replay.player2lead1, replay.player2lead2)"
        src="../../assets/sprites/{{ replay.player1pokemon6 }}.png"
      >
      <br />
      <img
        height="40px"
        width="40px"
        [ngClass]="getPokemonBackground(replay,
        '', replay.player1lead1, replay.player1lead2,
        replay.player2pokemon1, replay.player2lead1, replay.player2lead2)"
        src="../../assets/sprites/{{ replay.player2pokemon1 }}.png"
      >
      <img
        height="40px"
        width="40px"
        [ngClass]="getPokemonBackground(replay,
        '', replay.player1lead1, replay.player1lead2,
        replay.player2pokemon2, replay.player2lead1, replay.player2lead2)"
        src="../../assets/sprites/{{ replay.player2pokemon2 }}.png"
      >
      <img
        height="40px"
        width="40px"
        [ngClass]="getPokemonBackground(replay,
        '', replay.player1lead1, replay.player1lead2,
        replay.player2pokemon3, replay.player2lead1, replay.player2lead2)"
        src="../../assets/sprites/{{ replay.player2pokemon3 }}.png"
      >
      <img
        height="40px"
        width="40px"
        [ngClass]="getPokemonBackground(replay,
        '', replay.player1lead1, replay.player1lead2,
        replay.player2pokemon4, replay.player2lead1, replay.player2lead2)"
        src="../../assets/sprites/{{ replay.player2pokemon4 }}.png"
      >
      <img
        height="40px"
        width="40px"
        [ngClass]="getPokemonBackground(replay,
        '', replay.player1lead1, replay.player1lead2,
        replay.player2pokemon5, replay.player2lead1, replay.player2lead2)"
        src="../../assets/sprites/{{ replay.player2pokemon5 }}.png"
      >
      <img
        height="40px"
        width="40px"
        [ngClass]="getPokemonBackground(replay,
        '', replay.player1lead1, replay.player1lead2,
        replay.player2pokemon6, replay.player2lead1, replay.player2lead2)"
        src="../../assets/sprites/{{ replay.player2pokemon6 }}.png"
      >
    </li>
  </ul>
  <!-- <img
    src="../../assets/sprites/abomasnow-mega.png"
  > -->

  <!-- <button (click)="readFiles($event)">Load Files</button> -->
</div>
