.fileselect, .replaytext {
  color: white;
  font-size: 1em;
}

.filterSelect, .searchType {
  outline: none;
  cursor: pointer;
  min-width: 12rem;
}

.darrow {
  position: absolute;
  margin-top: -0.2rem;
  margin-left: 0.2rem;
  font-size: 1em;
}

.uarrow {
  position: absolute;
  margin-top: 0.35rem;
  margin-left: 0.2rem;
  font-size: 1em;
}

.title {
  color: #fff;
  height: 1rem;
  margin-right: 0.2rem;
  font-size: 1.2em;
  margin-top: 0rem;
  &-two {
    font-size: 0.9em;
    color: white;
    height: 1rem;
  }
}

.viewStats {
  color: white;
  height: 1rem;
  margin-right: 0.2rem;
  cursor: pointer;
  font-size: 0.9em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.replaylist {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.replay {
  list-style-type: none;
}

.winnerselected {
  background-color: green;
  border: 1px solid white;
}

.winnerunselected {
  background-color: rgb(0, 197, 0);
  border: 1px solid white;
}

.loserselected {
  background-color: rgb(255, 32, 69);
  border: 1px solid white;
}

.loserunselected {
  background-color: pink;
  border: 1px solid white;
}

.imgbackground {
  height: 60px;
  width: 60px;
}

@media (max-width: 440px) {
  .imgbackground {
    height: 50px;
    width: 50px;
  }

  .title {
    &-two {
      margin-top: 2.5rem;
    }
  }
}

@media (max-width: 340px) {
  .imgbackground {
    height: 45px;
    width: 45px;
  }
  
  .fileselect {
    margin-top: 1rem;
  }
}